.container{
    display:grid;
    grid-template-areas:
        'header header header'
        'profile aboutme aboutme'
        'project project project'
        'skill skill skill'
        'footer footer footer';
    gap: 0.5em;
}
.container > div{
     background-color: antiquewhite; 
    border-radius: 10px;

}
.header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url("images/backgroundcontact.jpg");
}
.name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
}

.navigation{
    display: flex;
    flex-direction: row;
}
.navlink{
    font-size: 18;
    margin-right: 10px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 10px;
}
.profile{
    grid-area: profile;
}
.profilepicture{
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.aboutme{
    grid-area: aboutme;
}
.project{
    grid-area: project;
}
.project h3{
    text-align: center;
}
.projectlist{
    display: flex;
    flex-direction: row;
}
.projectsection{
    flex:1;
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.projectname{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    
}
.projectpicture{
    height:180px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.description{
    padding: 10px;
}
.skill{
    grid-area: skill;
}
.skill p{
    padding: 10px;
}
.footer{
    grid-area: footer;
    
}
.personalinformation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.personallink{
    display: flex;
    flex-direction: row;
    margin: 10px; 

}
.personallink img:hover{
    opacity: 0.8;
}
.personallink p{
    margin-left: 10px;  
}
.personal{
    display: flex;
    flex-direction: row;
}
.social{
    display: flex;
    flex-direction: row;
}
.img{
    height: 30px;
}
@media screen and (max-width:600px){
    .container{
        grid-template-areas:
            'header'
            'profile'
            'aboutme'
            'project'
            'skill'
            'footer';
    }
    .projectlist{
        flex-direction: column;
    }
    .personalinformation{
        flex-direction: column;
    }
    .personal{
        flex-direction: column; 
    }
}
